body, ul, p, h1 {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Dosis_light';
    src: local('Dosis_light'), url(./fonts/Dosis-Light.ttf) format('woff');
}

@font-face {
    font-family: 'Libre_franklin';
    src: local('Libre_franklin'), url(./fonts/LibreFranklin.ttf) format('woff');
}

@font-face {
    font-family: 'Cairo_regular';
    src: local('Cairo_regular'), url(./fonts/Cairo-Regular.ttf) format('woff');
}
